.data {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #0c0c0c;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card_image {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.card_image:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
        background-color: #017bfe;
        color: white;
        font-weight: bold;
        font-size: xx-large;
}

.card_image:hover .overlay {
    transform: scale(4) translateZ(0);

}

.card_image:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card_image:hover .circle:after {
    background: var(--bg-color-light);
}

.card_image:hover p {
    color: var(--text-color-hover);
}

.card_image:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}

.card_image p {
    font-size: 17px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
    text-align: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    transition: opacity 0.3s ease-out;
}

.circle .img {
    z-index: 10000;
    transform: translateZ(0);
}
