.line-button-animation {
    font-size: 18px;
    color: #000000;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    width: 100% !important;
    text-align: left;
    
}

.line-button-animation:focus,
.line-button-animation:hover {
    transform: scale(1.05);
    color: #000000;
    background-color: #0099fe;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.line-button-animation:focus:after,
.line-button-animation:hover:after {
    width: 100%;
    left: 0%;
}

/* .line-button-animation:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
} */

.line-button-animation img{
    height: 30px;
    width: 30px;
    border-radius: 0px !important;
    -webkit-border-radius: 0px ;
    -moz-border-radius: 0px ;
    -ms-border-radius: 0px ;
    -o-border-radius: 0px ;
}
