.home{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #017bfe;
    gap: 10px ;
    /* margin: auto; */
}

.mission-statment-container{
    /* border: 2px solid red ; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    height: auto;
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background: #47a0f8; */

}



@keyframes moving-shadow {
    0% { box-shadow: 0 0 20px rgb(255, 255, 255); }
    25% { box-shadow: 20px 0 20px rgb(255, 255, 255); }
    50% { box-shadow: 0 20px 20px rgb(255, 255, 255); }
    75% { box-shadow: -20px 0 20px rgb(255, 255, 255); }
    100% { box-shadow: 0 -20px 20px rgb(255, 255, 255); }
}
/* @keyframes moving-shadow {
    0% { box-shadow: 0 -20px 20px rgb(255, 255, 255); }
    25% { box-shadow: -20px 0 20px rgb(255, 255, 255); }
    50% { box-shadow: 0 20px 20px rgb(255, 255, 255); }
    75% { box-shadow: 20px 0 20px rgb(255, 255, 255); }
    100% { box-shadow: 0 0 20px rgb(255, 255, 255); }
} */


.mission-statement {
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    height: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 70%;
    background-color: blue;
    color: white;
    animation: moving-shadow 8s infinite ease-in-out;
}



.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 33%;
    padding-right: 20px;
}

.subscribe-form{
    display: flex;
    width: 100%;
}

.subscribe button{
    background-color: blue;
    padding: 0 5px;
    height: 43px;
    /* border-radius: 10px; */
}

.subscribe button:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    box-shadow: 0 0 20px rgb(217, 255, 210);
    
}

.subscribe input:focus{
    box-shadow: 0 0 20px rgb(217, 255, 210);
}
.subscribe input{
    width: 100%;
}
.app-image {
    width: 30%; 
    height: auto;
    margin: 5px;
}

.app-image:hover {
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(255, 255, 255);
}

.appStore-googlePlay{
    margin-top: 20px;

}

.login-image-container {
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    /* background: #47a0f8; */
}


.login-container{
    /* border: 1px solid blue; */
    margin: 5px;
    width: 50%;
    font-weight: bold;

}

.landing-page-image{
    /* border: 1px solid green; */
    width: auto;
    margin: 5px auto;
    height: auto;
}


.landing-page-image {
    positizon: relative;
}

.landing-page-image .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Adjust as needed */
    height: auto; /* Adjust as needed */
}




.landing-page-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: auto;
    object-position: top;

}


p {
    font-size: 16px;
    margin-bottom: 20px;
    
}

.forgot-password{
    /* box-shadow: 0 0 20px rgb(0, 8, 255); */
    text-shadow: 0 0 20px rgb(0, 8, 255);

}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bolder;
}

.login-button:hover {
    background-color: #479ab8;
    color: white;
    border: 1px solid blue;
    box-shadow: 0 0 20px rgb(0, 8, 255);
    
}

.login-button{
    width: 40%;
    border-radius: 10px;
    background-color: blue;

}


footer{
    width: 100%;
    background-color: #03243d;
    text-align: center;
    align-items: center;
    color: white;
}

.home-login{
    width: 70%;
    
}

.home-login:focus{
    box-shadow: 0 0 10px rgb(0, 8, 255);

}

a.home-forgot-password:hover, .home-signup:hover{
    text-shadow: 0 0 20px rgb(0, 8, 255);
}
.home-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Media query for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
    .mission-statment-container, .login-image-container {
        flex-direction: column; 
    }

    .mission-statment-container {
        height: 60%;
    }
    
    .mission-statement {
        order: 1; 
        width: 100%;
        margin-bottom: 20px;
    }

    .subscribe{
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe-form{
        display: flex;
        width: 75%;
    }

    .login-container {
        padding-top: 20px;
        order: 3; 
        width: 95%; 
    }

    .landing-page-image {
        order: 4; 
        width: 95%; 
        height: 50%;
    }
}