.home{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #017bfe;
    gap: 10px ;
    color: white;
    /* margin: auto; */
}

.welcome-message{
    width: 100%;
    padding-top: 5px;
    text-align: center;

}



@keyframes moving-shadow {
    0% { box-shadow: 0 0 20px rgb(255, 255, 255); }
    25% { box-shadow: 20px 0 20px rgb(255, 255, 255); }
    50% { box-shadow: 0 20px 20px rgb(255, 255, 255); }
    75% { box-shadow: -20px 0 20px rgb(255, 255, 255); }
    100% { box-shadow: 0 -20px 20px rgb(255, 255, 255); }
}


.app-image {
    width: 30%; 
    height: auto;
    margin: 5px;
}

.app-image:hover {
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(255, 255, 255);
}

.appStore-googlePlay{
    margin-top: 20px;

}

.login-image-container {
    /* border: 2px solid black ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 60%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    color: blue;
    /* background: #47a0f8; */
}

.mission-statment{
    margin-bottom: 50px;
}

.login-container{
    /* border: 1px solid blue; */
    margin: 50px;
    width: 50%;

}

.landing-page-image{
    /* border: 1px solid green; */
    width: auto;
    margin: 5px auto;
    height: auto;
}


.landing-page-image {
    position: relative;
}

.landing-page-image .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Adjust as needed */
    height: auto; /* Adjust as needed */
}




.landing-page-image img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    padding: auto;
    object-position: top;

}



button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    /* font-weight: bold; */
}

.login-button:hover {
    background-color: #479ab8;
    color: white;
    border: 1px solid blue;
    /* box-shadow: 0 0 20px rgb(0, 8, 255); */
    
}

.login-button{
    width: 40%;
    border-radius: 5px;
    background-color: #00029d;
    padding: 5px ;
    height: 40px;
    font-size: large;


}


footer{
    padding: 20px 0;
    width: 100%;
    background-color: #03243d;
    text-align: center;
    align-items: center;
    color: white;
}

.home-login{
    width: 70%;
    
}
.home-login-form input {
    height: 40px;
}

.home-login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;

}

/* Media query for screens smaller than 1000px */
@media screen and (max-width: 1000px) {
    .welcome-message, .login-image-container {
        flex-direction: column; 
    }

    .subscribe{
        order: 2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe-form{
        display: flex;
        width: 75%;
    }

    .login-container {
        padding-top: 20px;
        order: 3; 
        width: 95%; 
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .landing-page-image {
        margin-top: 0;
        padding-top: 0;
        order: 4; 
        width: 95%; 
        height: 50%;
    }
}