.library-container{
    background-color: white;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 100%;
    height: 100%;
    
}


.library-content{
    overflow-y: auto;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #e9f1fb;
}


.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}

.book-item {
    flex: 0 1 calc(20% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9; 
    border-radius: 5px; 
    padding: 10px;
    width: 210px;
    height: 270px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.book-item h3 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 5px;
}

.book-item p {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 10px;
}

.book-item img {
    width: 150px;
    object-fit: cover;
    border-radius: 3px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
}

.title{
    font-weight: bold;
}

.books-list{
    margin-top: 20px;
}

h2{
    margin-top: 50px;
    font-weight: bold;
}

.subject_search_field{
    width: 100%;
    /* margin-bottom: 15px; */
    margin: 5px 0 15px 0;
}   

input{
    padding: 5px;
}

.search_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.library-content button{
    padding: 3px 20px;
    border-radius: 5px;
    background-color: #00029d;
}

.library-content button:hover{
    font-weight: bold;
    background-color: #017bfd88;
    color: #00029d;
    border: 1px solid #00029d;
}

.library-instruction-container {
    margin: 20px 0;
    padding: 15px;
    background-color: #eef2f7; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4;
    width: 100%;
}

@media (max-width: 1024px) {
    .book-item {
        flex: 0 1 calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .book-item {
        flex: 0 1 calc(33.333% - 20px); 
    }
}

@media (max-width: 480px) {
    .book-item {
        flex: 0 1 calc(50% - 20px); 
    }
}