.people-container {
    display: grid;
    /* grid-template-columns: 300px 1fr; */
    /* Adjusted for dynamic sidebar */
    grid-template-columns: minmax(0, 300px) 1fr; 
    grid-template-rows: 100%;
    height: 80vh;
}

@media screen and (max-width: 500px) {
  .people-container {
      display: grid;
      /* grid-template-columns: 300px 1fr; */
      /* Adjusted for dynamic sidebar */
      grid-template-columns: minmax(0, 300px) 1fr; 
      grid-template-rows: 100%;
      height: 100vh;
  }
  /* Adjusted media query for 500px */
  .userpage-aside {
      display: none; /* Hide sidebar */
  }
  /* will update hamburger still once I figure it out. */
}
  
  .users-container {
  background-color: #f7f7f7;
  overflow-y: auto; 
  height: 100vh;
}
  
