.subjectpage-container {
    background-color: #e9f1fb;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 100%;
    height: 100vh;
}

.subjectpage-content h2{
    margin-top: 50px;
    font-weight: bold;
}

.subjectpage-content {
    text-align: center;
    padding: 5px;
    margin: 20px;
    height: calc(100% - 60px);
    grid-row: 1;
    grid-column: 2 / 3;
    overflow: auto;
}

.subjects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.subject{
    align-items: center;
    align-content: center;
    justify-content: center;
}

.subject-instruction-container {
    margin: 0 0 25px 0;
    padding: 15px;
    background-color: #eef2f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .subjects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .subjects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .subjects-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.subject img {
    border-radius: 10px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0px !important;
    height: 60px;
    width: 60px;
}

.subject a{
    border: 1px solid gray;
}

.subject:hover a {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
