.user-page{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #017bfe;
    font: white; */

}
.userpage-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin: 10px;
    overflow: hidden;
    width: 80%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px #00000091;

}

.UserSidebar {
    height: 100%;
    flex: 22%;
    border-right: 2px solid #ddd; 
}
.userpage-content {
    padding: 10px;
    margin: 10px;
    width: 99%;



}

.userpage-welcome {

    margin-bottom: 10px;
}

.userpage-welcome span {
    color: #2121f1
}

.userpage-message {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Kalam', cursive;
    align-items: center;
    font-size: x-large;
}
strong{
    color: blue;
}

.about-user{
    width: 100%;

    border-radius: 5px;
    padding: 10px;
    border-radius: 1px solid blue;

}


.interested-subject{
    width: 100%;
    height: 45vh;
    border-radius: 5px;
    padding: 10px;
    border-radius: 2px solid blue;
}

.user-info{
    /* border: 2px solid black; */
    flex: 20%;
    font-weight: bold;
    
}

.user-info span{
    font-weight: lighter;
    
}


.profile-image{
    border: 1px solid red;
    width: 230px;
    height: 220px;
    border-radius: 5px;
    
}

.about-user{
    gap: 25px;
    display: flex;
    flex-direction: row;


}

.name-bio-info{
    width: auto;
    
}



.userpage-message img {
    height: 50px;
}

.custom-card {
    background-color: #e0e0e0;
    width: 100%;
    height: 200px;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px 0px #00000091;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    margin-bottom: 10px;
}

.custom-card:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.flex-container {
    display: flex;
    padding: 0.5rem;
    gap: 0.25rem;
}