/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  border: 2px solid green;
} */


.logo {
  position: absolute;
  color: blue;
  font-size: 1.5rem;
  top: 8px;
  left: 8px;
}

.nav-links-container{
  position: absolute;
  color: blue;
  top: 5px;
  right: 8px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 5px;
  padding-top: 10px;
}

.nav-links li {
  border: 1px solid white;
  padding: 2px 15px;
  cursor: pointer;
  border-radius: 5px;
  background-color: blue;
  color: white;
  }
  
  .nav-links li:hover {
    /* text-decoration: underline; */
    transition: 0.2s;
    background-color: white;
    color: blue;
    border: 1px solid blue;
    /* box-shadow: 0 0 20px rgb(0, 8, 255); */
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }

  .logo img {
    border: 1px solid white;
    width: 50px;
    height: auto;
    float: left;
    border-radius: 50px;
    
  }
  
  /* @keyframes spin {
    0% { transform: scale(1) rotateY(0); }
    50% { transform: scale(1.2) rotateY(180deg); }
    100% { transform: scale(1) rotateY(360deg); }
  }
  */
  .logo img:hover {
    /* animation: spin 2s linear infinite; */
    box-shadow: 0 0 20px rgb(0, 8, 255);

  }
  

  /* nav {
    background-color: blue;
  

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 2px 2px 4px grey;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  } */
