body{
  background-color: #f7f7f7;
}
.swif-connect-container {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.swif-connect-container button{
  background-color: white;
}

.swif-connect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    border-radius: 5px;
    white-space: nowrap;
}



.video-window {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: auto;
    cursor: move;
    position: absolute;
    top: 10px;
    right: 10px;
}


.remote-user-video, .local-user-video {
    border: 1px solid gray;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    
  }
  
  .remote-user, .local-user {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    border: 1px solid gray;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.remote-user span, .local-user span {
    color: blue;
    position: absolute;
    font-size: 26px; 
    text-align: center;
    width: 100%;
}

.remote-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
  }
  
  .remote-user-video {
    z-index: 2;
  }
  



  .chat-container{
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .input-box{
    position: absolute;
    width: 100%;
    bottom: 2px;
    right: auto;
    height: 40px;
    display: flex;
  }
  .message-input{
    width: 84%;
  }
  
  .input-box .send-button{
  
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

.chat-box{
    overflow-y: auto; 
}


@media (max-width: 700px) {

  .whitebard-sharescreen {
      display: none;
  }

  .video-window {
    display: flex;
      flex-direction: column;
      position: absolute;
      width: auto;
      top: 5px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
  }

  .remote-user-video, .local-user-video {
      width: 150px;
      height: 150px;
  }

  .remote-user, .local-user {
      width: 150px;
      height: 150px;
  }

  .chat-container {
    border: 1px solid blue;
 
      width: 80%;
      height: 300px;
      bottom: 60px; 
      margin: auto;
      
      
  }

  .input-box {
      width: 100%;
      bottom: 10px;
  }
}

.call-button-icons-container{
  gap: 5px;
  position: absolute;
  bottom: 10px; 
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-content: center;

}


.call-buttons{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  padding: auto;
}

.call-button-icons{
  align-items: center;
  width: 30px;
  height: 30px;
  object-fit: cover;
  padding: auto;
}

.end-call{
  background-color: rgb(226, 6, 6);
}

.incoming-call{
  background-color: green;
}

.hide-button{
  display: none;
}

.end-call-buttons {
  font-size: larger;
  font-weight: bolder;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  left: 10px;
  bottom: 10px;
  width: 60px;
  height: 50px;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.swif-connect-container .end-call-buttons{
  background-color: red;
}