.user-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 200px;
    margin: 10px;
    
}

.user-image{  
    border-radius: 10px;
    width: 180px;
    height: 200px;
    object-fit: cover;
}


.chat-icon {
    font-size: 24px; 
}

.chat-icon:hover {
    cursor: pointer; 
}

.user-info-below-image{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: cover;
}

.user-info-first-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.user-info-first-line p {
    margin: 0; 
}

.user-info-second-line{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {



    .user-card {
        display: flex;
        flex-direction: row;
        width: 50px; 
        height: 50px; 
        gap: 10px;
    }

    .user-info-second-line{
        display: none;
    }

    .user-info-first-line{
        width: 200px;
    }


    .user-image{  
        border-radius: 10px;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
}