
.users-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 300px;
    margin: 15px 15px;
    padding: 40px 0;
    background-color: #e9f1fb;
    justify-content: center;
}

.people-instruction{
    margin: 25px 20px 0 20px;
    padding: 15px;
    background-color: #eef2f7; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4;
}


@media screen and (max-width: 768px) {

    .users-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-auto-rows: 80px;
        margin: 10px;
        width: 100%;
        padding-top: 50px;
        justify-content: center;
    }

}