
.userpage-aside {
    grid-row: 1;
    grid-column: 1;
}

.aside-menu {
    /* border: 1px solid gray; */
    padding: 10px;
    margin: 0 10px;
    height: 100vh;
}


.userpage-aside ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.userpage-aside li {
    margin: 0px;
}

.line-button-animation{
    padding: 10px;

}

.line-button-animation{
    border-bottom: none;
    
}

@media screen and (max-width: 450px) {
    .userpage-aside{
        display: none;
    }
}