.whiteboard-page-container {
    border: 1px solid gray;
    border-radius: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 10px;
    top: 10px;
    /* height: 730px; */
    height: 91%;
    width: 77%;
    overflow: hidden;
}




.color-picker-container{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 5px;
}

.color{
    width: 40px;
    padding: 3px;
    margin: auto;
}

.clear-whiteboard {
    font-size: 12px;
    width: auto;
    height: 25px;
    line-height: 10px;
    padding: 2px 5px;
    cursor: pointer;
    border: 1px solid gray;
    vertical-align: middle; 
    text-align: center; 
}

.whiteboard-container {
    border-top: 1px solid gray;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: lightskyblue;
}

.board-container{

    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

.board-container canvas{
    cursor: crosshair;
}