
main{
  height: 92%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-btn{
  background-color: #f5c400 !important;
  transition: all .3s ease !important;
  -webkit-transition: all .3s ease !important;
  -moz-transition: all .3s ease !important;
  -ms-transition: all .3s ease !important;
  -o-transition: all .3s ease !important;
}

.page-btn:hover{
  background-color: #f8db68 !important;
  color: #001840 !important;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}